<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/c_grid03.css">
</head>
<body>
  <div class="container">
    <header>This is my blog</header>
    <article>
      <h1>My article</h1>
      <p>
        This article is chapter 01.
        <br />
        It refers to a player who plays the role of throwing a ball to a batter in a baseball game. The team in charfe of defense plays with the catcher (catcher) who receives the pitcher's ball.
      </p>

      <p>
        This article is chapter 02.
        <br />
        It refers to a player who plays the role of throwing a ball to a batter in a baseball game. The team in charfe of defense plays with the catcher (catcher) who receives the pitcher's ball.
      </p>
    </article>
    <aside>
      <p>
        This is a aside
        <br />
        It refers to a player who plays the role of throwing a ball to a batter in a baseball game. The team in charfe of defense plays with the catcher (catcher) who receives the pitcher's ball.
      </p>
    </aside>
    <footer>Contact me: devgiants@naver.com</footer>
  </div>


</body>
</html>