table {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 10px 10px;
  caption-side: bottom;
}

th, td {
  border: 1px solid black;
  width: 70px;
  height: 50px;
}

.heading {
  background-color: rgb(207, 203, 203);
}

/* .col-one {
  background-color: blueviolet;
}
.col-two {
  background-color: aqua;
}
.col-three {
  background-color: yellowgreen;
} */