button {
  letter-spacing: 1;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgb(200, 200, 0);
  background-color: rgba(255, 155, 155, 0.6);
  color: darkorange;
  padding: 3px 10px;
  cursor: pointer;
}